# .gitignore
.env
.ruff_cache
.ruff_cache/*
__pycache__
.pytest_cache
.mypy_cache
*.pyc
*.pkl
*.pyo
*.pyd
.venv
.devcontainer
.DS_Store
catboost_info
.catboost_info
.vscode
dist
xbooster.egg-info
tmp
python-workspace.code-workspace
examples/*.sql
examples/*.py
