# .gitignore
.env
.ruff_cache
.ruff_cache/*
__pycache__
.pytest_cache
.mypy_cache
*.pyc
*.pyo
*.pyd
.venv
.devcontainer
.DS_Store
catboost_info
.catboost_info
.vscode
tmp
python-workspace.code-workspace